<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
<div>
    <h1>ADMIN: CREATE PAGE</h1>
</div>
<form action="#" method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="firstname">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstname"/>
    <br/>
    <label for="lastname">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Create!"/>
    <ul>
        <li th:each="role : ${roleSet}">
            <div>
                <input type="checkbox" th:field="*{roles}" th:value="${role.id}">
                <label th:text="${role.name}"></label>
            </div>
        </li>
    </ul>
</form>
</body>
</html>