<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:if="${not #lists.isEmpty(cars)}">
        <table class="table table-striped">
            <tr>
                <th>Model</th>
                <th>Series</th>
                <th>Color</th>
            </tr>
            <tr th:each="car :${cars}">
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getSeries()}"></td>
                <td th:text="${car.getColor()}"></td>
            </tr>
        </table>
    </div>
</body>
</html>






