<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Sign Out</button>
    </form>
    <h1>USER PAGE</h1>
    <table class="table table-striped">
        <tr>
            <th>Id    </th>
            <th>FirstName    </th>
            <th>LastName    </th>
            <th>Email    </th>
            <th>Password    </th>
            <th>Roles    </th>
        </tr>
        <tr>
            <td th:text="${user.getId()}   "></td>
            <td th:text="${user.getFirstName()}   "></td>
            <td th:text="${user.getLastName()}   "></td>
            <td th:text="${user.getEmail()}   "></td>
            <td th:text="${user.getPassword()}   "></td>
            <td th:text="${user.getRoles()}"></td>
        </tr>
    </table>
</div>


</body>
</html>